fastapi
uvicorn[standard]
asyncpg
redis[hiredis]
python-multipart
pydantic[email]
pydantic-settings # For BaseSettings, good practice to specify
slowapi
python-magic
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
toml
Pillow
